<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>没钱赚商店</title>
<link href="../js/bootstrap-3.3.5-dist/css/bootstrap.css"
	rel="stylesheet">
<link href="../css/discount.css" rel="stylesheet">
<script src="../js/jquery/jquery-2.1.1.min.js"></script>
<script src="../js/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="../js/angular-1.4.0-rc.2/angular.min.js"></script>
<script src="../jsproject/collcetmoney/common.js"></script>
<script src="../jsproject/collcetmoney/discountController.js"></script>
</head>
<body>
	<div ng-app="disCountApp" ng-controller="disCountCtrl">
		<form class="form-horizontal p10" role="form">
			<button class="btn btn-primary" data-toggle="modal"
				data-target="#addDiscount">添加</button>
		</form>
		<div class="modal fade" id="addDiscount" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加优惠商品</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="barCode" class="col-sm-3 control-label">条形码:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" ng-model="addBarCode"
										id="addBarCode" placeholder="请输入条形码" ng-blur="findGoods()">
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">商品名称:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="name" readonly
										ng-model="addName">
								</div>
							</div>
							<div class="form-group">
								<label for="addCategory" class="col-sm-3 control-label">商品类别:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="addCategory" readonly
										ng-model="addCategory">
								</div>
							</div>
							<div class="form-group">
								<label for="price" class="col-sm-3 control-label">商品价格:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="price"
										ng-model="addPrice">
								</div>
							</div>
							<div class="form-group">
								<label for="number" class="col-sm-3 control-label">优惠活动:</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="selectedName" ng-options="x.text for x in discountName">
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" ng-click="saveGood()">保存</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<div class="modal fade" id="editDiscount" tabindex="-1" role="dialog"
			aria-labelledby="editLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="editLabel">修改优惠商品</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="barCode" class="col-sm-3 control-label">条形码:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" ng-model="editBarCode"
										id="editBarCode" placeholder="请输入条形码" ng-blur="findGoods()">
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">商品名称:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="name" readonly
										ng-model="editName">
								</div>
							</div>
							<div class="form-group">
								<label for="addCategory" class="col-sm-3 control-label">商品类别:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="editCategory" readonly
										ng-model="editCategory">
								</div>
							</div>
							<div class="form-group">
								<label for="price" class="col-sm-3 control-label">商品价格:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="price"
										ng-model="editPrice">
								</div>
							</div>
							<div class="form-group">
								<label for="number" class="col-sm-3 control-label">优惠活动:</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="editDiscountName" ng-options="x.text for x in discountName">
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" ng-click="editGood()">保存</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<table class="table table-bordered table-hover">
			<tr>
				<th>条形码</th>
				<th>商品名称</th>
				<th>商品类别</th>
				<th>商品价格(元)</th>
				<th>优惠活动</th>
				<th>操作</th>
			</tr>
			<tr ng-repeat="thing in discountArr">
				<td>{{ thing.barCode }}</td>
				<td>{{ thing.name}}</td>
				<td>{{ thing.category}}</td>
				<td>{{ thing.price}}</td>
				<td>{{ thing.specialOfferName}}</td>
				<td><a ng-click="openEdit($index)" class="mlr10"><span
						class="glyphicon glyphicon glyphicon-pencil"></span> </a> <a
					ng-click="deleteGood($index)" class="mlr10"><span
						class="glyphicon glyphicon-trash"></span> </a></td>
			</tr>
		</table>
	</div>
</body>
</html>